<div class="container_login_main">


    <!-- <div class="container_logo">
      <a href="#"  class="navbar-brand"><img src="assets\atomo (1).png" width="35px"> &nbsp;  Medical Center  </a>
    </div> -->

    <div class="container container_registro">
      <section class="section_title">
        <h3 style="display: flex; justify-content: space-between;">Crear Especialidad <a href="#"  class="navbar-brand"><img src="assets\atomo (1).png" width="35px"></a> </h3>
        <br>
        <p>Ingresa los datos para crear un nueva Especialidad</p>
      </section>
  
      <br>
  

  
        <div class="form-group">
          <label class="form-label">Nombre Especialidad</label>
          <input  [(ngModel)]="especialidadAqui.especialidad" name="especialidad" class="form-control" type="text">
        </div>
  
       
        <br>
  
        <div class="button-container">
          <button class="btn btn-primary" (click)="guardarEspecialidad()">Crear Especialidad</button>
        </div>



      <br>

    </div>
  
  </div>
  