<div class="container_background">

    <div class="container container_main">

        

        <br><br>
        <br>


        <div class="row row-cols-4 row-cols-md-4 g-4">

            <div class="col container_cards" *ngFor="let medico of medicos">

                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{medico.especialidad_id}}</h5>
                        <br>
                        <div class="container_servicios_stock">

                            <p class="card-text">Nombre: {{medico.especialidad}}</p>
                        
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="container_textos">
            <a _ngcontent-ng-c936632262="" href="crearEspecialidad" class="btn btn-primary">Crear Especialidad</a>
        </div>
    </div>
    

</div>


<app-about></app-about>
